{
"liveHIT":"yes",
"title":"Play a language game",
"description":"The experiment will last 20 minutes. You will be paid 3.5 dollars",
"experimentURL":"https://unruffled-hodgkin-549a2f.netlify.app/utt-pref-choice-and-quiz-master/",
"keywords":"language research tuebingen fun cognitive science university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"minNumPreviousHITsApproved": "1000",
"frameheight":"650",
"reward":"3.50",
"numberofassignments": 2,
"assignmentsperhit": "9",
"assignmentduration":"3600",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesNotHaveQualification": "none"
}
